:host {
    $content-size: clamp(1rem, 10vw, 10rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('../../../assets/Among-us-background.png');
    background-size: cover;
    position: relative;
    flex: 1;

    h1 {
        font-size: $content-size;
        color: white;
        font-family: 'Varela Round', sans-serif;
        white-space: nowrap;
        overflow: hidden;
    }
    img {
        position: absolute;
        width: $content-size;
        transition: all;
        transform: rotate(210deg);
        animation: ejected 5s;
        left: 85vw;
        top: 55vh;
    }
}

@keyframes ejected {
    0% {
        left:-20rem ;
        transform: rotate(0);
    }

    100% {
        left: 85vw;
        transform: rotate(210deg);
    }
}

