:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('../../../assets/Among-us-background.png');
    background-size: cover;
    flex: 1;

    h1 {
        font-size: 10rem;
        color: white;
        font-family: 'Varela Round', sans-serif;
        white-space: nowrap;
        overflow: hidden;
        animation: eject-text 5s steps(60, end);
        transition: width;
    }
    img {
        position: absolute;
        width: 10rem;
        transition: all;
        transform: rotate(210deg);
        animation: ejected 5s;
        left: calc(100% - 20rem);
    }
}

@keyframes eject-text {
    from {
        width: 0;
    }

    25% {
        width: 0;
    }

    to {
        width: 80rem;
    }
}

@keyframes ejected {
    0% {
        left: 0;
        transform: rotate(0);
    }

    100% {
        left: calc(100% - 20rem);
        transform: rotate(210deg);
    }
}

